/**************************************
 * Main bar */

#navbar_div {
    border-bottom: 3px solid #ffd900;
    background-color: #333;
    color: #efefef;
    float: left;
    width: 100%;
    margin: 0 0 4mm 0;
    padding: 0;
    text-align: center;
}

#navbar_list {
    margin: 0;
    padding: 0 0 4mm 0;
    list-style: none;
    font-family: Slabo, 'Linux Libertine', serif;
}

/**************************************
 * List items */
#navbar_list li {
    float: left;
    height: 100%;
    padding: 2mm 4mm 2mm 2mm;
    line-height: 32px;
    font-family: Lato, "Linux Biolinum", sans-serif;
    font-size: 20px;
    vertical-align: text-bottom;
}

/* Most links are non-underlined, underline to highlight. Invert this behavior
 * for _this_ page's link (as determined by M4) */
a.navlink {
    color: #17bf00;
    text-decoration: none;
}

a.navlink_here {
    text-decoration: underline;
}

a.navlink:hover {
    text-decoration: underline;
}

a.navlink_here:hover {
    text-decoration: none;
}

/**************************************
 * Logo */
li.logo {
    background-color: #555;
    padding-left: 5mm;
    margin-right: 5mm;
    line-height: 32px;
    color: #ffd900;
}

span.logo {
    margin-left: 2mm;
    font-family: Lato, "Linux Biolinum", sans-serif;
    font-size: 20px;
}

span.logo2 {
    font-family: Lato, "Linux Biolinum", sans-serif;
    font-size: 20px;
    /* font-style: italic; */
}

#navbar_list a.logo {
    display: block;
    padding-left: 40px;
    background: url("/images/logo.png") no-repeat 4px;
    color: #ffd900;
}

#navbar_list a.logo:hover {
    text-decoration: none;
    background: url("/images/logo_hover.png") no-repeat 4px;
    color: #00ccd6;
}

div#preload {
    display: none;
}
